/*  Projet 2 - OpenClassrooms
*   Par Théo Lemoine
*/


/***** COLORS *****/

.c_bleu {
    color: #0065FC;
}

.c_bleu-claire {
    color: #DEEBFF;
}

.c_gris {
    color: #f2f2f2;
}

.c_black {
    color: #000;
}

.c_white {
    color: #fff;
}


/***** IMAGES *****/

/* Hebergements images */
#image-1 {
    background-image: url(img/hebergements/1.jpg);
}

#image-2 {
    background-image: url(img/hebergements/2.jpg);
}

#image-3 {
    background-image: url(img/hebergements/3.jpg);
}

#image-4 {
    background-image: url(img/hebergements/4.jpg);
}

#image-5 {
    background-image: url(img/hebergements/5.jpg);
}

#image-6 {
    background-image: url(img/hebergements/6.jpg);
}

#image-7 {
    background-image: url(img/hebergements/7.jpg);
}

#image-8 {
    background-image: url(img/hebergements/8.jpg);
}

#image-9 {
    background-image: url(img/hebergements/9.jpg);
}

/* Activities images */
#image-10 {
    background-image: url(img/activities/10.jpg);
}

#image-11 {
    background-image: url(img/activities/11.jpg);
}

#image-12 {
    background-image: url(img/activities/12.jpg);
}

#image-13 {
    background-image: url(img/activities/13.jpg);
}

#image-14 {
    background-image: url(img/activities/14.jpg);
}

#image-15 {
    background-image: url(img/activities/15.jpg);
}



/********** Geneneral version (mobile) **********/

    /***** GENERAL *****/
    body {
        display: flex;
        flex-wrap: wrap;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #container {
        width: 100%;
        height: auto;
    }

    .padding-22{
        padding: 0 10px;
    }


    /***** HEADER *****/
    #logo {
        width: 100%;
        margin: 20px 0 10px 0;
        padding-left: 20px;
    }

    header {
        width: 100%;
        overflow: hidden;
    }

    .nav-block {
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .nav-ul {
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;
        text-align: center;
    }

    .nav-content {
        font-weight: 500;
        padding: 10px 30px;
        width: 50%;
    }

    .nav-link {
        text-decoration: none;
    }

    .nav-link:hover {
        color: #000;
        text-decoration: none;
    }

    .type1 {
        border-bottom: solid #0065FC;
    }

    .type2 {
        border-bottom: solid #f2f2f2;
    }

    .nav-register {
        position: absolute;
        top: 20px;
        right: 20px;
        font-weight: 700;
        padding: 20px 0;
    }


    /***** BODY *****/

    h1 {
        font-weight: 800;
        font-size: 22px;
    }

    h2 {
        font-weight: 800;
        font-size: 18px;
    }

    p {
        margin-top: -10px;
        font-size: 16px;
    }

    /* SEARCH BAR */

    .search-bar {
        width: auto;
        height: 40px;
        display: flex;
        justify-content: left;
        margin: 30px 0;
    }

    .location-block {
        width: 50px;
        height: 50px;
        background-color: #f2f2f2;
        border-radius: 15px 0 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input-block {
        width: 240px;
        height: 48px;
        background-color: transparent;
        border: 0.5px solid #f2f2f2;
        overflow: hidden;
    }

    .submit-block {
        width: 50px;
        height: 50px;
        background-color: #0065FC;
        border-radius: 15px;
        margin-left: -15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .submit-button {
        width: 100%;
        height: 50px;
        background-color: transparent;
        border: none;
        outline: none;
    }

    .input-format {
        width: 240px;
        height: 48px;
        border: none;
        background-color: transparent;
        font-size: 18px;
        font-weight: 600;
        outline: none;
        padding-left: 15px;
    }

    .input-format::placeholder {
        font-size: 18px;
        font-weight: 700;
        color: #000;
        font-family: 'Raleway', sans-serif;
    }

    .submit-text {
        display: none;
    }



    /* FILTERS */

    .filters_title {
        padding: 0 30px 0 0;
        font-size: 20px;
    }

    .filters-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .filters-section {
        width: auto;
        height: 45px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: #f2f2f2 solid 2px;
        border-radius: 30px;
        margin: 0 10px 10px 0;
    }

    .icon-format {
        width: 50px;
        height: 50px;
        background-color: #DEEBFF;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -5px;
    }

    .filters-txt {
        font-weight: 800;
        font-size: 16px;
        padding: 0;
        margin: 0;
        padding: 0 12px;
    }


    /* Information filters */
    .information-filters {
        display: flex;
        justify-content: left;
        flex-direction: row;
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .information-filters i {
        width: 10px;
        height: 10px;
        border: #f2f2f2 solid 2px;
        border-radius: 50%;
        padding: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #0065FC;
    }

    .info-filters-wignet {
        list-style-type: none;
        margin: 0;
    }

    .info-filters-wignet p {
        width: 100%;
        height: auto;
        margin-top: 5px;
        padding: 0 5px;
    }

    /* 3 titles */
    .populary-hebergement-activities-title { 
        font-size: 22px;
        font-weight: 800;
        color: #000;
        margin-bottom: 25px;
        text-align: left;
    }

    /* POPULARY */
    

    .populary-hebergements{
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .populary-section {
        background-color: #f2f2f2;
        width: 100%;
        max-width: 400px;
        height: auto;
        list-style-type: none;
        padding-bottom: 40px;
    }

    .populary-wignet {
        display: flex;
        align-items: center;
        margin: 0;
    }

    .populary-wignet h1 {
        padding: 0 12px;
    }

    .populary-wignet i {
        font-size: 23px;
        padding: 0 12px;
        margin: 0 20px 0 auto;
    }

    /* Populary Choice */
    .populary-choice {
        width: 100%;
        max-width: 300px;
        height: 140px;
        margin: 10px auto;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 5px 25px #dddddd;
        display: flex;
        flex-direction: row;

    }

    .populary-image {
        height: 140px;
        min-width: 120px;
        max-width: 120px;
        overflow: hidden;
        border-radius: 20px 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .populary-image div {
        height: 130px;
        width: 100%;
        background-position: center;
        background-size: cover;
        margin-left: 5px;
        border-radius: 16px 0 0 16px;
    }

    .populary-text-content {
        width: auto;
        height: 140px;
    }

    .populary-text h2 {
        font-size: 15px;
    }

    .populary-text {
        padding: 5px 17px;
        text-align: left;
    }

    .populary-text p {
        font-size: 12px;
        font-weight: 500;
        padding: 5px 0;
    }

    .populary-notice-star {
        font-size: 12px;
        padding: 20px 15px;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
    }




    /* HEBERGEMENTS */

    .hebergement-section {
        width: 100%;
        max-width: 960px;
        height: auto;
        list-style-type: none;
    }

    .hebergement-content{
       display: flex;
       justify-content: center;
       flex-direction: column;
       flex-wrap: wrap;
    }

    .hebergement-title h1 {
        padding: 0 12px;
        margin-bottom: 15px;
    }


    /* Hebergement choice */
    .hebergement-choice {
        width: 100%;
        max-width: 250px;
        height: 200px;
        margin: 20px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 5px 25px #dddddd;
    }

    .hebergement-image {
        height: 120px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .hebergement-image div {
        height: 110px;
        width: 240px;
        max-width: 245px;
        background-position: center;
        background-size: cover;
        border-radius: 16px 16px 0 0;
    }

    .hebergement-text-content {
        width: 100%;
        height: 100px;
        padding: 0 15px;
    }
    
    .hebergement-text h2 {
        font-size: 17px;
        margin: 5px 0;
    }

    .hebergement-text p {
        font-size: 15px;
        margin: 5px 0;
    }

    .hebergement-notice-star {
        font-size: 12px;
        margin-top: 10px;
    }

    .more h2 {
        padding: 20px 12px;
        font-size: 18px;
    }



    /* ACTIVITIES */

    .activities-section {
        width: 100%;
        height: auto;
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .activities-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .activities-title h1 {
        margin-bottom: 25px;
        padding: 0 12px;
    }


    /* Activities choices */
    .activities-choice {
        width: 100%;
        max-width: 300px;
        height: 170px;
        margin: 10px auto;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 5px 25px #dddddd;
    }

    .activities-image {
        height: 120px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .activities-image div {
        height: 120px;
        width: 345px;
        background-position: center;
        background-size: cover;
        border-radius: 16px 16px 0 0;
    }

    .activities-text-content {
        width: 100%;
        height: 100px;
    }
    
    .activities-text h2 {
        font-size: 17px;
        margin: 15px;
    }




    /***** FOOTER *****/

    footer {
        width: 100%;
    }

    .footer-section {
        background-color: #f2f2f2;
        margin-top: 55px;
        padding: 0 22px;
    }

    .footer-content {
        padding-top: 20px;
    }

    .footer-ul {
        list-style-type: none;
        padding-left: 0;
    }

    .footer-li {
        margin: 10px 0;
    }

    .footer-column {
        padding-bottom: 20px;
    }

/*****************************************************/


/* Tablette */
@media all and (min-device-width: 615px) {

    /* HEADER - navigation */
    header{
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #logo {
        padding-left: 0;
    }

    .type1{
        border: none;
        position: relative;
    }

    .type1::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 5px;
        background-color: #0065FC;
        top: -42px;
        left: 0;
    }

    .type2{
        border: none;
        position: relative;
    }

    .type2::before{
        position: absolute;
        content: '';
        width: 100%;
        height: 0px;
        background-color: #0065FC;
        top: -42px;
        left: 0;
        transition: all 0.2s linear;
    }

    .type2:hover::before{
        height: 5px;
    }

    .nav-block{
        display: flex;
        align-items: center;
        overflow: visible;
    }

    .nav-ul{
        align-items: center;
        overflow: visible;
    }

    .nav-content{
        width: auto;
        padding: 0 20px;
        overflow: visible;
    }

    .nav-register{
        position: initial;
        padding: 0 0 0 22px;
    }


    /* FILTERS */
    .filters {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }


    /* SEARCH BAR */
    .submit-icon {
        display: none;
    }

    .submit-text {
        display: block;
        font-size: 16px;
        font-weight: 500;
    }

    .submit-block {
        width: auto;
        padding: 0 20px;
        border-radius: 0 15px 15px 0;
    }


    /* POPULARY */
    .populary-hebergement-activities-title {
        padding: 20px 0 0 20px;
    }

    .populary-hebergements {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }


    /* HEBERGEMENTS */
    .hebergement-section {
        background-color: #f2f2f2;
    }
      

    /* FOOTER */
    .footer-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .footer-column {
        width: 30%;
        text-align: left;
    }

}



/* DESKTOP */
@media all and (min-device-width: 1920px) {
    /* GENERAL */
    #container {
        width: 80%;
        margin: 0 auto;
    }

    /* HEADER */
    header{
        width: 80%;
        margin: auto;
    }


    /* HEBERGEMENTS  */
    
    .hebergement-content{
        display: flex;
        flex-direction: row;
    }


    /* ACTIVITIES */

    .activities-section{
        
    }

    .activities-content{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .large-height{
        height: 450px;
    }
    
    .medium-height{
        height: 250px;
    }

    .small-height{
        height: 210px;
        margin-bottom: 30px;
    }

    .margin-bottom{
        margin-bottom: 30px;
    }

    .large-height .activities-image, .large-height .activities-image div{
        height: 400px;
    }

    .medium-height .activities-image, .medium-height .activities-image div{
        height: 200px;
    }
    .small-height .activities-image, .small-height .activities-image div{
        height: 160px;
    }

    /* FOOTER */
    .footer-content {
        width: 80%;
        margin: 0 auto;
    }
}